@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.logo {
    font-family: 'Days one';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

.nav-items{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}